<div id='filter-accordion-header' class='ui center aligned top attached blue header'>
  <div class='mini ui left floated red button' ng-click='$parent.toggleSideDiv()'>
    hide
  </div>
    filters
  <div class='mini ui right floated green button' ng-click='showChoices()'>
    add +
  </div>
</div>
<div class='ui styled fluid accordion filter-accordion'>
  <!-- select new filter -->
  <div class="accordion filter-accordion" ng-show='$parent.chooseFilter' style='margin-top: 0px;'>
    <div class="active title">
      <i class="dropdown icon"></i>
      choose filter
      <i class="ui right floated large close icon link icon" style='float:right;'
         ng-click='$parent.chooseFilter = !$parent.chooseFilter'></i>
    </div>
    <div class="active content">
      <div ng-repeat='name in $parent.filterNames' ng-if='$even'>
        <div class='left attached ui green button' ng-click='addFilter(name)'>
          {{ name }}
        </div>
        <div class='right attached ui green button' ng-click='addFilter($parent.filterNames[$index+1])' ng-if='$parent.filterNames[$index+1]'>
          {{ $parent.filterNames[$index+1] }}
        </div>
      </div>
    </div>
  </div>
  <div ng-class='{disabled: chooseFilter}' class="title" ng-repeat-start='filter in $parent.filters'>
    <i class="dropdown icon"></i>
    {{ filter.key }} : {{ getFilterStr(filter.options) }}
    <i class="circular question icon link popup" ng-if="isPersonality(filter.key)"
      data-html="<p>To learn more about personality types visit <a href='http://www.16personalities.com' target='_blank'>16personalities.com</a></p>"></i>
    <i class="ui large close icon link icon" style='float:right;'
       ng-click='removeFilter(filter.key)'></i>
  </div>
  <div class="content" ng-repeat-end>
    <div class="ui form">
      <div class="grouped fields">
        <div class="field" ng-repeat="option in filter.options">
          <div class="ui checkbox" ng-click="checkboxClicked('filterChoices', filter.key, option.key)">
            <input type="checkbox" ng-model="option.value">
            <label>{{ option.key }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tags -->
  <div ng-class='{disabled: chooseFilter}' class="title" ng-if="$parent.showTags">
    <i class="dropdown icon"></i>
      keywords : {{ $parent.tags.list.length }}
    <i class="ui large close icon link icon" style='float:right;'
       ng-click="$parent.hideTags()"></i>
  </div>
  <div class="content" ng-if="$parent.showTags">
    <div class='ui input'>
      <input id='keywords-input' type='text' ng-list ng-model='$parent.tags.list'>
    </div>
  </div>
  <div ng-class='{disabled: chooseFilter}' class="title" ng-if="$parent.showDateRange">
    <i class="dropdown icon"></i>
      date range :
    <i class="ui large close icon link icon" style='float:right;'
       ng-click="$parent.hideDateRange()"></i>
  </div>
  <div class="content" ng-if="$parent.showDateRange">
    <div class='ui input'>
      <input id='start-date' type='text' ng-model='$parent.dateRange.start' placeholder='start'>
    </div>
    <div class='ui input' style='margin-top: 4px;'>
      <input id='end-date' type='text' ng-model='$parent.dateRange.end' placeholder='end'>
    </div>
  </div>
</div>

<!-- order by -->
<div class='ui styled fluid accordion filter-accordion'>
  <div class="title" ng-class='{disabled: $parent.chooseFilter}'>
    <i class="dropdown icon"></i>
    list by : {{ getOrderby() }}
  </div>

  <div class="content">
    <div class="ui form">
      <div class="grouped fields">
        <div class="field" ng-repeat="option in orderby[0].options">
          <div class="ui checkbox" ng-click="checkboxClicked('orderby', 'orderby', option.key)">
            <input type="checkbox" ng-model="option.value">
            <label>
              {{ option.key }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button ng-class='{disabled: $parent.chooseFilter}' class='fluid ui green button find' ng-click='find()'>
  <i class="search icon"></i>
  <span>find</span>
</button>
