#activity-wrapper{
  width: 250px;
  height: 250px;
  display: inline-block;
  padding: 6px !important;
  margin: 4px 14px 14px 4px !important;
  box-shadow: 0 3px 0 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

#activity-wrapper:hover{
  box-shadow: 0 3px 0 0 #5bbd72,0 0 0 1px #5bbd72;
}

@media only screen and (max-width: 740px){
  .ui.grid>.two.column.row>.column.activities{
    width: 100% !important;
  }
}

.creator-img{
  height: 30px !important;
  width: 30px !important;
}

.creator-name{
  padding-top: 4px;
  padding-left: 34px;
  color: #009fda;
}

.creator-name:hover{
  cursor: pointer;
  color: #56d1ff;
}

.activity-title{
  overflow: hidden;
  margin-top: -8px;
  max-height: 18px;
  font-weight: bold;
}

.activity-date{
  overflow: hidden;
}

.activity-location{
  overflow: hidden;
  max-height: 33px;
  color: darkgray;
}
