<div class='ui center aligned basic segment'>
  <div class="findactivities-container">

    <div class='ui stackable grid'>

      <div class="four wide column">
        <div id='filter-accordion-container' class="filter-accordion" ng-show="showFilterAccordion">
          <ng-include src="'app/findactivities/filterAccordion.html'" onload="linkAccordion()"></ng-include>
        </div>
      </div>

      <div class="twelve wide column">
        <!-- right side -->
        <div id="grid-container">
          <i id='scroll-top' class='ui arrow circle up huge icon' ng-click='scrollTop()'></i>
          <div class='ui grid'>
            <div class='doubling two column row' ng-repeat='user in users' ng-if='$even'>
              <div class='column'>
                <div class="ui cards">
                  <!-- left item -->
                  <div class="card activity-card">
                    <div class='container'>
                      <div class='left'>
                        <div class="image" ng-click='showProfileModal(user)'>
                          <img class='card-photo' ng-src="{{ user.img }}">
                        </div>
                      </div>
                      <div class='right'>
                        <div class="content card-content">
                          <a class="header">{{ user.title }}</a>
                          <div class="meta">
                            <span>{{ user.location.name || 'unknown location' }}</span>
                          </div>
                          <div class="mini ui blue button" ng-show='!isMobile()'>bookmark</div>
                          <div class="mini ui red button">1000mi</div>
                          <div class="description intro">
                            This will eventually be a quick little introduction paragraph the users will create...ck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph t
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='column'>
                <div class="ui cards">
                  <!-- right item -->
                  <div class="card activity-card" ng-click='showProfileModal(users[$index+1])' ng-show='users[$index+1]'>
                    <div class='container'>
                      <div class='left'>
                        <div class="image">
                          <img class='card-photo' ng-src="{{users[$index+1].img}}">
                        </div>
                      </div>
                      <div class='right'>
                        <div class="content card-content">
                          <a class="header">{{ users[$index+1].title }}</a>
                          <div class="meta">
                            <span>{{ users[$index+1].location.name || 'location unknown'}}</span>
                          </div>
                          <div class="mini ui blue button" ng-show='!isMobile()'>bookmark</div>
                          <div class="mini ui red button">1000mi</div>
                          <div class="description intro">
                            This will eventually be a quick little introduction paragraph the users will create...ck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph tck little introduction paragraph t
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- end right side -->
      </div>

    </div> <!-- end stackable grid -->

  </div>
</div>

<ng-include src="'app/findactivities/profileModal.html'" onload="linkModal()"></ng-include>

<!-- message modal -->
<div class="ui small modal message" style='text-align: center;'>

  <textarea id='message-text' placeholder='enter message...' rows="10" cols="50"></textarea>

  <center>
    <div id='send-message-btn' class="ui green button">
      send
    </div>
    <div id='cancel-message-btn' class="ui red button">
      cancel
    </div>
  </center>
</div>
