<div class="ui modal profile" style='max-width: 500px;'>
  <i class="close icon floated right"></i>
  <div class="content">
    <div class="ui small image">
      <img ng-src="{{img}}" ng-repeat='img in fbPicsUrls' style='margin-bottom: 10px;'>
    </div>
  </div>
  <h5 class="ui top attached center aligned header">
  mutual interests
  </h5>
  <div class='ui attached content'>
    <div  id='mutual-likes-container'>
    </div>
  </div>
  <h5 class="ui top attached center aligned header">
  intro
  </h5>
  <div class='ui content'>
    <div id='intro' class='ui segment'>
      this will be a short intro the user will create...
    </div>
  </div>
  <h5 class="ui top attached center aligned header">
  dream destination
  </h5>
  <div class='ui content'>
    <div id='intro' class='ui segment'>
      If you and another user won a 3 day trip to anywhere in the world,
      where would you suggest to go and why?
    </div>
  </div>
  <h5 class="ui top attached center aligned header">
  details
  </h5>
  <div class='ui content'>
    <div id='details' class='ui segment'>
      <div class="ui vertical segment">
        <div class='details-key'>
          hometown
        </div>
        <div class='details-value'>
          {{selectedUser.hometown}}
        </div>
      </div>
      <div class="ui vertical segment">
        <div class='details-key'>
          education
        </div>
        <div class='details-value'>
          {{selectedUser.school}}
        </div>
      </div>
      <div class="ui vertical segment">
        <div class='details-key'>
          work
        </div>
        <div class='details-value'>
          {{selectedUser.employer}}
        </div>
      </div>
      <!-- repeat for details -->
      <div class="ui vertical segment" ng-repeat='(key, value) in selectedUser.details'>
        <div class='details-key'>
          {{key}}
        </div>
        <div class='details-value'>
          {{value.value}}
        </div>
      </div>
    </div>
  </div>
  <div class='ui content'>
    <div id='intro' class='ui center aligned segment'>
      <div class="ui red button message">
        message
      </div>
      <div class="ui green button" ng-click='bookmarkUser(selectedUser)'>
        bookmark
      </div>
      <div class="ui grey button" ng-click="closeModals()">
        close
      </div>
    </div>
  </div>
  <div>
</div>
