<div id='navbar-container' ng-controller='NavbarCtrl'>

  <!-- desktop menu -->
  <div id='desktop-menu' ng-show='!isMobile'>

    <div id='left-section'>
      <a href="/findfriends" id="desktop-logo"></a>
    </div>

    <div id='middle-section'>
      <div id='link-container'>
        <a href='/findfriends' class='menu-item'>find friends</a>
        <a href='/findactivities' class='menu-item'>find activities</a>
      </div>
    </div>

    <div id='right-section'>
      <i id='mail-icon' class='large mail icon'></i>
      <img id='dropdown-image' class="ui circular image"
          src="https://graph.facebook.com/{{ user.facebookId }}/picture?width=60&height=60">
      <i id='desktop-dropdown-icon' class='large dropdown icon'
                            ng-click='showDropdown = !showDropdown'></i>
    </div>

    <div id='desktop-dropdown' ng-show='showDropdown' class='ui vertical buttons'>
      <div class="ui button">
        <i class='small bookmark icon' style='float: left;'></i>
        bookmarks
      </div>
      <div class="ui button">
        <i class='small setting icon' style='float: left;'></i>
        settings
      </div>
      <div class="ui button">
        <i class='small sign out icon' style='float: left;'></i>
        logout
      </div>
    </div>

  </div>

  <!-- mobile menu -->
  <div id='mobile-menu' ng-show='isMobile'>
    <a href="/findfriends" id="mobile-logo"></a>
    <i id='mobile-dropdown-icon' class='huge bars icon'
                          ng-click='showDropdown = !showDropdown' style='float: right;'></i>
    <div id='mobile-dropdown' ng-show='showDropdown' class='ui vertical buttons'>
      <div class="ui button">
        <i class='small mail icon' style='float: left;'></i>
        messages
      </div>
      <div class="ui button">
        <i class='small bookmark icon' style='float: left;'></i>
        bookmarks
      </div>
      <div class="ui button">
        <i class='small users icon' style='float: left;'></i>
        find friends
      </div>
      <div class="ui button">
        <i class='small marker icon' style='float: left;'></i>
        find activities
      </div>
      <div class="ui button">
        <i class='small user icon' style='float: left;'></i>
        profile
      </div>
      <div class="ui button">
        <i class='small setting icon' style='float: left;'></i>
        settings
      </div>
      <div class="ui button">
        <i class='small sign out icon' style='float: left;'></i>
        logout
      </div>
    </div>
  </div>

</div>
