#navbar-container {
	height: 70px;
}

#desktop-menu {
	height: 100%;
	background-color: black;
}

#mobile-menu {
	background-color: black;
	height: 100%;
}

#desktop-logo{
	float: left;
	margin-top: 14px;
	width: 190px;
	height: 50px;
	background: url(../../assets/images/friendfinderLogo.svg);
}

#mobile-logo{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	width: 190px;
	height: 50px;
	background: url(../../assets/images/friendfinderLogo.svg);
	display: block;
}

#left-section{
	width: 250px;
	height: 70px;
	float: left;
	margin-left: 9%;
	position: absolute;
}

#middle-section{
	text-align: center;
}

#middle-section:before{
	height: 100%;
	content: '';
	display: inline-block !important;
	vertical-align: middle !important;
}

#middle-section > * {
  /*vertical-align: middle !important;*/
}

#right-section{
	width: 250px;
	height: 70px;
	position: absolute;
	padding-left: 70px;
	top: 0;
	right: 0;
	margin-top: 12px;
	margin-right: 9%;
}

.menu-item {
	margin: 20px;
}

#unread-messages, #unread-placeholder{
	float: left;
	width: 20px;
	height: 18px;
	padding: 0px;
	margin-top: 18px;
	padding-top: 3px;
}

#mail-icon{
	float: left;
	padding-top: 15px;
	cursor: pointer;
}

#mail-icon{
	color: blue;
}

#mail-icon:hover{
	color: #56d1ff !important;
}

#dropdown-image {
	width: 50px;
	height: 50px;
	margin-left: 10px;
}

#dropdown-image:hover {
	border: 1px solid #56d1ff;
	cursor: pointer;
}

#menu-icon{
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 45px;
	padding-top: 12px;
}

#menu-icon:hover{
	color: #56d1ff !important;
	cursor: pointer;
}

#desktop-dropdown-icon{
	position: absolute;
	padding-left: 122px;
	margin-top: 3px;
}

#dropdown-menu-list{
	margin-top: 55px;
	margin-left: -50px;
}

#desktop-dropdown{
	width: 150px;
	height: 100px;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	margin-top: 70px;
	z-index: 1000;
}

#mobile-dropdown-icon{
	position: absolute;
	margin-top: 15px;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
}

#mobile-dropdown-icon:hover{
	color: #56d1ff !important;
	cursor: pointer;
}

#mobile-show-icon{
	position: absolute;
	padding: 5px;
	padding-right: 120px !important;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
}

#mobile-hide-icon{
	position: absolute;
	padding: 5px;
	padding-right: 120px !important;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
}
