#navbar-container {
	/*background-color: blue;*/
	height: 70px;
}

#desktop-menu {
	/*background-color: red;*/
	text-align: center;
	height: 70px;
}

#mobile-menu {
	background-color: purple;
	height: 70px;
}

#desktop-logo{

	float: left;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 70px;
	margin-top: 20px;
	width: 180px;
	height: 50px;
	background: url(../../assets/images/friendfinderLogo.svg);
	display: block;

}

#mobile-logo{

	float: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 50px;
	height: 50px;
	background: url(../../assets/images/friendfinderMobileLogo.svg);
	display: block;

}

#menu-item-container{
	margin-top: 30px;
}

.menu-item {
	margin: 20px;
	padding-top: 20px;
}

#desktop-menu-dropdown {
	float: right;
	margin: 40px;
}

#mobile-menu-dropdown {
	float: right;
}

#mail-icon{
	float: right;
	margin-right:150px;
	margin-top: 13px;
}

#dropdown-image {
	position: absolute;
	padding: 5px;
	top: 0;
	right: 0;
	margin-right:82px;
	margin-top: 20px;
	float: right;
	width: 60px;
	height: 60px;
	float: left;'
}

#dropdown-icon{
	position: absolute;
	padding: 5px;
	top: 0;
	right: 0;
	margin-right:50px;
	margin-top: 20px;
	float: right;
	width: 60px;
	height: 60px;
	float: left;
}
