#navbar-container {
	height: 70px;
}

#desktop-menu {
	height: 100%;
}

#mobile-menu {
	background-color: blue;
	height: 100%;
}

#desktop-logo{
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	width: 180px;
	height: 50px;
	background: url(../../assets/images/friendfinderLogo.svg);
	display: block;
}

#mobile-logo{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 50px;
	height: 50px;
	background: url(../../assets/images/friendfinderMobileLogo.svg);
	display: block;
}

#left-section{
	width: 250px;
	height: 70px;
	/*background-color:blue;*/
	float: left;
	position: absolute;
}

#middle-section{
	/*background-color:red;*/
	width: 100%;
	height: 100%;
	text-align: center;
}

#right-section{
	width: 250px;
	height: 70px;
	/*background-color:green;*/
	position: absolute;
	top: 0;
	right: 0;
	margin: 8px;
}

#link-container{
	padding-top: 30px;
}

.menu-item {
	margin: 20px;
}

#mail-icon{
	float: left;
	padding-top: 18px;
}

#dropdown-image {
	width: 60px;
	height: 60px;
	margin-left: 60px;
}

#desktop-dropdown-icon{
	position: absolute;
	padding: 5px;
	top: 0;
	right: 0;
	margin-right:50px;
	margin-top: 20px;
	float: right;
	width: 60px;
	height: 60px;
	float: left;
}

#desktop-dropdown{
	width: 150px;
	height: 100px;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	margin-top: 70px;
	z-index: 1000;
}

#mobile-dropdown-icon{
	position: absolute;
	padding: 5px;
	top: 0;
	right: 0;
	margin-right:10px;
	float: right;
	width: 60px;
	height: 60px;
	float: left;
}

#mobile-dropdown{
	width: 150px;
	height: 100px;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	margin-top: 70px;
	z-index: 1000;
}
