<div class="ui page grid" ng-controller='NavbarCtrl'>
    <div class="computer tablet only row">
        <div class="ui inverted menu navbar">
            <a href="" class="brand item">friendfinder</a>
            <a href="" class="active item">find friends</a>
            <a href="" class="item">find activities</a>

            <div class="right menu">
              <a class="ui dropdown item">user prefs
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">settings</div>
                  <div class="item">logout</div>
                </div>
              </a>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="mobile only narrow row">
        <div class="ui inverted navbar menu">
            <a href="" class="brand item">friendfinder</a>
            <a href="" class="brand item">filters</a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="reorder icon"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical navbar menu">
            <a href="" class="active item">find friends</a>
            <a href="" class="item">find activities</a>
            <div class="ui item">
                <div class="text">Dropdown</div>
                <div class="menu">
                    <a class="item">Action</a>
                    <a class="item">Another action</a>
                    <a class="item">Something else here</a>
                    <a class="ui aider"></a>
                    <a class="item">Seperated link</a>
                    <a class="item">One more seperated link</a>
                  </div>
            </div>
        </div>
    </div>
</div>
