.main-container{
  background-color: black;
  text-align: center;
  height: 100vh;
}

.centered-content{
  width: 480px;
  height: 340px;
  position:absolute;
  margin: auto;
  margin-top: 80px;
  top: 0; left: 0; bottom: 0; right: 0;
}

#modal-link:hover{
  cursor: pointer;
}

#link-container{
  margin-top: 8px;
}

.ui.modal.video-intro{
  /*width:700px;*/
  height: 450px;
  text-align: center;
}
