<div class='main-container'>

  <div class='centered-content' ng-if="!isMobile()">

    <img src='assets/images/friendfinderLogoGIF.gif'>

    <div class="auto-resizable-iframe">
      <div>
        <iframe frameborder="0" allowfullscreen=""  id='intro-video' width="640" height="390" src="https://www.youtube.com/embed/v8zu_4HdDQI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="ui blue button" ng-click='fbLogin()'>
      <i class="icon facebook"></i>login with facebook
    </div>

  </div>

  <div class='centered-content-mobile' ng-if="isMobile()">

    <img src='assets/images/friendfinderLogoGIFMobile.gif'>

    <div class="auto-resizable-iframe">
      <div>
        <iframe frameborder="0" allowfullscreen=""  id='intro-video' width="640" height="390" src="https://www.youtube.com/embed/v8zu_4HdDQI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="ui blue button" ng-click='fbLogin()'>
      <i class="icon facebook"></i>login with facebook
    </div>

  </div>


</div>
