<!-- create modal -->
<div class="ui create modal" ng-controller='CreateModalCtrl'>
  <i class="close icon"></i>

  <div class="ui form segment create-act">
    <div class="ui inverted dimmer" ng-class="{true: 'active', false: 'disabled'}[loading]">
      <div class="ui text loader">creating activity</div>
    </div>

    <div class="field">
      <div id='radio-container'>
        <div class="ui icon input">
        <i class="circular question icon link popup is-event"
          data-html="An event is a one time thing, with a specific time and place. (concert, show, festival, convention, etc.)"></i>
        <label id='isEventLabel' for="isEvent">Is this an event?  </label>
          no<input id="isEvent" type="radio" ng-model="activity.isEvent" value="false">
          yes<input id="isNotEvent" type="radio" ng-model="activity.isEvent" value="true">
        </div>
      </div>
    </div>

    <div class='ui grid'>
      <div class='doubling two column row create-act' style='width: 50%;'>
        <!-- left side -->
        <div class='column create-act' id='create-left-column'>
          <div class="field">
            <label for="title">title ({{40 - activity.title.length}} chars remaining)</label>
            <div class="ui icon input">
              <input id="title" type="text" autocomplete='off' placeholder='what do you want to do?' ng-model="activity.title">
              <i class="asterisk red icon" ng-show='!activity.title'></i>
            </div>
          </div>
          <div class="field">
            <label for="description">description ({{220 - activity.description.length}} chars remaining)</label>
            <div class="ui icon input">
              <textarea id="description" autocomplete='off' type="textarea" placeholder='describe the activity in more detail' ng-model="activity.description"></textarea>
              <i class="asterisk red icon" ng-show='!activity.description'></i>
            </div>
          </div>
          <div class="field">
            <label for="tags">tags</label>
            <div class="ui icon input">
              <input id="tags" type="text" autocomplete='off' placeholder='comma separated list, for searching' ng-list ng-model="activity.tags">
              <i class="asterisk red icon" ng-show='!activity.tags.length'></i>
            </div>
          </div>
        </div>
        <!-- right side -->
        <div class='column create-act' style='width: 50%;'>
          <div class="field">
            <label for="location">location</label>
            <div class="ui icon input">
              <input id='location-input-create' type="text" placeholder='where?' ng-model="locationInput" autocomplete='off'>
              <input id="location" ng-show='false' ng-model='activity.location'>
              <i class="asterisk red icon" ng-show='!locationInput'></i>
            </div>
            <div class="ui fluid search selection dropdown location" style='border: 0px; padding: 0px;'>
              <div class="menu">
                <div ng-class="{'google-powered': place.description === 'googlePowered', header: place.description === 'googlePowered', item: place.description != 'googlePowered'}"
                  class="autocomplete" ng-repeat='place in suggestions' ng-click='setLocation(place)'>
                  <p ng-if="place.description != 'googlePowered'">{{place.description}}</p>
                  <img ng-src="assets/images/poweredByGoogle.png" ng-if="place.description === 'googlePowered'">
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="date">date</label>
            <div class="ui icon input">
              <input id="date" type="text" placeholder='when?' ng-model="activity.date">
              <i class="date asterisk red icon"></i>
            </div>
          </div>
          <div class="field">
            <label for="url">link</label>
            <div class="ui icon input">
              <input id="url" type="text" autocomplete='off' placeholder='paste URL here' ng-model="activity.url">
              <i class="asterisk red icon" ng-show="activity.isEvent === 'true' && !activity.url"></i>
            </div>
          </div>
          <div class="field">
            <label for="img">image link</label>
            <div class="ui icon input">
              <input id="img" type="text" autocomplete='off' placeholder='optional but recommended' ng-model="activity.img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='create-btn-container'>
    <button class="ui green button" ng-click="create()">create</button>
    <button class="ui grey button" ng-click="hideModal()">cancel</button>
  </div>

</div>
