<div class='container'>
  <div id="findfriends-container">

    <div id='findfriends-segment' class='ui segment'>

      <div id='left-rail' class="ui left attached rail" ng-show='!showSideDiv'>
        <div id='show-segment' class="ui segment">
          <div class='ui mini red button' ng-click="toggleSideDiv()">
            show
          </div>
        </div>
      </div>

      <div id='right-rail' class="ui right attached rail">
        <div id='scroll-segment' class="ui segment">
          <i id='up-arrow' class='ui arrow circle up big icon' ng-click='scrollTop()'></i>
        </div>
      </div>

      <div id='accordion' ng-show='showSideDiv'>
        <ng-include src="'app/findfriends/filterAccordion.html'" onload="linkAccordion()"></ng-include>
      </div>

      <div id='right' ng-class='{full: !showSideDiv, twoThirds: showSideDiv}' ng-show='showRightSide()'>
        <div id='grid-container'>
          <div class="ui grid">
            <div class="doubling two column row" ng-show='(isTooSmall() || showSideDiv) && isDouble($index)'
              ng-repeat="user in $parent.users | offset:startIndex | limitTo:30" on-last-repeat ng-class="{workaround: '(isTooSmall() || showSideDiv) && isDouble($index)'}">
              <div ng-attr-id="{{'half-'+makeHalf()}}" class="column">
                <div id='golden-wrapper'>
                  <div id='card-container'>
                    <div class="ui card profile-card">
                      <div id='top-half'>
                        <div id='left-side'>
                          <div class="image" ng-click="$parent.showProfileModal(user['@rid'], 'profile')">
                            <img class='card-photo' ng-src="https://graph.facebook.com/{{ user.facebookId }}/picture?width=500&height=500">
                          </div>
                        </div>
                        <div class='middle'>
                          {{ birthdayToAge(user.birthday) }} ,
                          <a ng-click="$parent.showProfileModal(user['@rid'], 'profile')" class="header">{{ user.name.split(' ')[0] }}</a>
                          <div class="meta">
                            <span>{{ user.location || 'location unknown' }}</span>
                          </div>
                        </div>
                        <div id='right-side'>
                          <div class="ui blue button top-right-button">
                            {{ user.count || kmToMiles(user.$distance) }}{{user.count ? '' : 'mi'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui fitted divider"></div>
                      <div id='bottom-half'>
                        <div class='intro-wrapper ellipsis'>
                          {{ user.profile.intro }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-attr-id="{{'half-'+makeHalf()}}" class="column">
                <div id='golden-wrapper'>
                  <div id='card-container'>
                    <div class="ui card profile-card" ng-if='users[$index+startIndex+1]'>
                      <div id='top-half'>
                        <div id='left-side'>
                          <div class="image" ng-click="$parent.showProfileModal(users[$index+startIndex+1]['@rid'], 'profile')">
                            <img class='card-photo' ng-src="https://graph.facebook.com/{{ users[$index+startIndex+1].facebookId }}/picture?width=500&height=500">
                          </div>
                        </div>
                        <div class='middle'>
                          {{ birthdayToAge(users[$index+startIndex+1].birthday) }} ,
                          <a ng-click="$parent.showProfileModal(users[$index+startIndex+1]['@rid'], 'profile')" class="header">{{ users[$index+startIndex+1].name.split(' ')[0] }}</a>
                          <div class="meta">
                            <span>{{ users[$index+startIndex+1].location || 'location unknown' }}</span>
                          </div>
                        </div>
                        <div id='right-side'>
                          <div class="ui blue button top-right-button">
                            {{ users[$index+startIndex+1].count || kmToMiles(users[$index+startIndex+1].$distance) }}{{user.count ? '' : 'mi'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui fitted divider"></div>
                      <div id='bottom-half'>
                        <div class='intro-wrapper ellipsis'>
                          {{ users[$index+startIndex+1].profile.intro }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="doubling three column row" ng-show='!showSideDiv && isTriple($index) && !isTooSmall()'
              ng-repeat='user in $parent.users | offset:startIndex | limitTo:30' ng-class="{workaround: '!showSideDiv && isTriple($index) && !isTooSmall()'}">
              {{ user.name }}
              <div class="column">
                <div id='golden-wrapper'>
                  <div id='card-container'>
                    <div class="ui card profile-card">
                      <div id='top-half'>
                        <div id='left-side'>
                          <div class="image" ng-click="$parent.showProfileModal(user['@rid'], 'profile')">
                            <img class='card-photo' ng-src="https://graph.facebook.com/{{ user.facebookId }}/picture?width=500&height=500">
                          </div>
                        </div>
                        <div class='middle'>
                          {{ birthdayToAge(user.birthday) }} ,
                          <a ng-click="$parent.showProfileModal(user['@rid'], 'profile')" class="header">{{ user.name.split(' ')[0] }}</a>
                          <div class="meta">
                            <span>{{ user.location || 'location unknown' }}</span>
                          </div>
                        </div>
                        <div id='right-side'>
                          <div class="ui blue button top-right-button">
                            {{ user.count || kmToMiles(user.$distance) }}{{user.count ? '' : 'mi'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui fitted divider"></div>
                      <div id='bottom-half'>
                        <div class='intro-wrapper ellipsis'>
                          {{ user.profile.intro }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div id='golden-wrapper'>
                  <div id='card-container'>
                    <div class="ui card profile-card" ng-if='users[$index+startIndex+1]'>
                      <div id='top-half'>
                        <div id='left-side'>
                          <div class="image" ng-click="$parent.showProfileModal(users[$index+startIndex+1]['@rid'], 'profile')">
                            <img class='card-photo' ng-src="https://graph.facebook.com/{{ users[$index+startIndex+1].facebookId }}/picture?width=500&height=500">
                          </div>
                        </div>
                        <div class='middle'>
                          {{ birthdayToAge(users[$index+startIndex+1].birthday) }} ,
                          <a ng-click="$parent.showProfileModal(users[$index+startIndex+1]['@rid'], 'profile')" class="header">{{ users[$index+startIndex+1].name.split(' ')[0] }}</a>
                          <div class="meta">
                            <span>{{ users[$index+startIndex+1].location || 'location unknown' }}</span>
                          </div>
                        </div>
                        <div id='right-side'>
                          <div class="ui blue button top-right-button">
                            {{ users[$index+startIndex+1].count || kmToMiles(users[$index+startIndex+1].$distance) }}{{user.count ? '' : 'mi'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui fitted divider"></div>
                      <div id='bottom-half'>
                        <div class='intro-wrapper ellipsis'>
                          {{ users[$index+startIndex+1].profile.intro }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div id='golden-wrapper'>
                  <div id='card-container'>
                    <div class="ui card profile-card" ng-if='users[$index+startIndex+2]'>
                      <div id='top-half'>
                        <div id='left-side'>
                          <div class="image" ng-click="$parent.showProfileModal(users[$index+startIndex+2]['@rid'], 'profile')">
                            <img class='card-photo' ng-src="https://graph.facebook.com/{{ users[$index+startIndex+2].facebookId }}/picture?width=500&height=500">
                          </div>
                        </div>
                        <div class='middle'>
                          {{ birthdayToAge(users[$index+startIndex+2].birthday) }} ,
                          <a ng-click="$parent.showProfileModal(users[$index+startIndex+2]['@rid'], 'profile')" class="header">{{ users[$index+startIndex+2].name.split(' ')[0] }}</a>
                          <div class="meta">
                            <span>{{ users[$index+startIndex+2].location || 'location unknown' }}</span>
                          </div>
                        </div>
                        <div id='right-side'>
                          <div class="ui blue button top-right-button">
                            {{ users[$index+startIndex+2].count || kmToMiles(users[$index+startIndex+2].$distance) }}{{user.count ? '' : 'mi'}}
                          </div>
                        </div>
                      </div>
                      <div class="ui fitted divider"></div>
                      <div id='bottom-half'>
                        <div class='intro-wrapper ellipsis'>
                          {{ users[$index+startIndex+2].profile.intro }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id='prev-next-buttons' ng-if='$parent.users.length'>
            <div class="ui labeled icon blue button"
              ng-class="{large: !isMobile(), disabled: $parent.users.length <= 30 || startIndex-30 < 0}" ng-click='previousPage()'>
              <i class="left arrow icon"></i>
              Previous
            </div>
            <div class="ui right labeled icon blue button"
              ng-class="{large: !isMobile(), loading: loading, disabled: loading || !$parent.users[startIndex+30]}" ng-click='nextPage()'>
              <i class="right arrow icon"></i>
              Next
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
