.disabled.title {
  cursor: default;
  background-color: #dcddde !important;
  color: rgba(0, 0, 0, 0.4) !important;
  opacity: 0.3 !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none;
}

.ui.grid>.row{
  padding-bottom: 0rem;
}

#findfriends-container{

}

#scroll-top{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 500;
  opacity: 50%;
}

#scroll-top:hover{
  cursor: pointer;
  opacity: 100%;
  color: blue;
}

#filter-accordion-container{
  width: 280px;
  min-width: 280px;
  max-width: 320px;
  float: left;
  margin-left: 12px;
  text-align: left;
  z-index: 100;
  position: absolute;
}

#grid-container{
  text-align: center;
  overflow-y: scroll;
  height: 550px;
  padding: 1px;
}

.ui.four.wide.column.filter-accordion{
  width: 275px !important;
  min-width: 275px !important;
  max-width: 275px !important;
}

.ui.cards>.card.profile-card{
  width: 420px;
  max-width: 420px;
  min-width: 340px;
  height: 191px;
}

.circular.ui.button.top-right-info{
  position: absolute;
  right: 0px;
  height: 40px;
  width: 40px;
  border-radius: 10em !important;
}

.ui.cards>.card.profile-card:hover{
  box-shadow: 0 3px 0 0 #3850A2,0 0 0 1px #3850A2;
}

.ui.cards>.card>.container{
  margin: 8px;
}

.ui.cards>.card>.container>.left{
  width: 175px;
  float: left;
}

.ui.cards>.card>.container>.right{
  width: calc(100% - 175px);
  float: left;
  max-height: 40px;
  padding-left: 8px;
}

.ui.cards>.card>.container>.left>.image>img.card-photo{
  float: left;
  width: 175px;
  height: 175px;
}

.ui.cards>.card>.container>.left>.image>img.card-photo:hover{
  cursor: pointer;
}

.ui.cards>.card>.content.card-content{
  float: left;
  background-color: blue;
}

.ui.cards>.card>.container>.right>.content>.meta{
  padding-bottom: 3px;
}

.ui.cards>.card>.container>.right>.content>.description.intro{
  height: 110px;
  overflow: hidden;
  padding-top: 3px;
}

#mutual-likes-container{
  width: 450px;
  text-align: center;
  overflow: auto;
  white-space:nowrap;
}

#mutual-likes-contents{
  display: inline-block !important;
  float:left !important;
}

#intro{
  width: 100%;
}

#details{
  width: 100%;
}

.details-key{
  width: 30%;
  float: left;
}

.details-value{
  width:70%;
  float: left;
}
