<div class="container" ng-controller='ProfileCtrl'>
  <div class='ui segment'>

    <div id='photos-container'>
      <div class="ui small image" ng-repeat='img in fbPicsUrls' style='width: 250px;'>
        <img ng-src="{{img}}">
      </div>
    </div>

    <div ng-class='{green: modified, disabled: !modified}'
         class='ui green button' style='margin-bottom: 16px;'
         ng-click='saveChanges()'>
      save changes
    </div>

    <div class='ui two column grid'>
      <div class='doubling two column row'>

        <div class='column' id='intro-column'>

          <h5 class="ui top attached center aligned header">
            intro
          </h5>
          <div class='ui content'>
            <div id='intro' class='ui segment'>
              <p>Introduce yourself!</p><br>
              <div class="ui input" id='intro-area'>
                <input type="text-area" ng-model='currentUser.profile.intro'
                       placeholder="{{ currentUser.profile.intro }}">
              </div>
            </div>
          </div>
          <h5 class="ui top attached center aligned header">
            ideal weekend
          </h5>
          <div class='ui content'>
            <div id='intro' class='ui segment'>
              <p>What is your favorite way to spend the weekend?</p><br>
              <div class="ui input" id='ideal-weekend-area'>
                <input type="text-area" ng-model='currentUser.profile.idealWeekend'
                       placeholder="{{ currentUser.profile.idealWeekend }}">
              </div>
            </div>
          </div>
          <h5 class="ui top attached center aligned header">
            dream destination
          </h5>
          <div class='ui content'>
            <div id='intro' class='ui segment'>
              <p>If you and another user won a 3 day trip to anywhere in the world,
              where would you suggest to go and why?</p><br>
              <div class="ui input" id='dream-destination-area'>
                <input type="text-area" ng-model='currentUser.profile.dreamDestination'
                       placeholder="{{ currentUser.profile.dreamDestination }}">
              </div>
            </div>
          </div>
          <h5 class="ui top attached center aligned header">
            interests
          </h5>
          <div class='ui content'>
            <div id='intro' class='ui segment'>
              <p>Create a comma separated list of things you like, so that other users
              who share that interest can find you.</p><br>
              <div class="ui input" id='dream-destination-area'>
                <input type="text-area" ng-model='currentUser.profile.dreamDestination'
                       placeholder="{{ currentUser.profile.dreamDestination }}">
              </div>
            </div>
          </div>

        </div>

        <div class='column' id='details-column'>
          <h5 class="ui top attached center aligned header">
            details
          </h5>
          <div class='ui content'>
            <div id='details' class='ui segment'>
              <div class="ui vertical segment"
                   ng-repeat='(key, value) in currentUser.details'>
                <div class='details-key'>
                  {{key}}
                </div>

                <select ng-model="currentUser.details[key].value"
                        ng-options="choice for choice in detailOptions[key] track by choice">
                </select>


                <!-- TODO angular binding -->
                <!-- <div id='dropdown-{{key}}' class="ui selection dropdown"
                     ng-click='showDropdown(key)'>
                  <div class="default text">{{ value.value }}</div>
                  <div ng-show="key != 'hometown' &&
                                key != 'employer' &&
                                key != 'school'">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">Male</div>
                      <div class="item">Female</div>
                    </div>
                  </div>
                </div> -->

                <div ng-class='{grey: value.private, green: !value.private}'
                     class='ui button' ng-click='togglePrivacy(key, value.private)'
                     ng-model='value.private'>
                  {{ value.private ? 'hidden' : 'public' }}
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
