
.c3{
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.c7{
  color: blue;
}

.c22{
  font-size: 14px;
  color: black;
  font-weight: normal;
}

#mikestaub{
  width: 156px;
  float: left;
  margin: 5px;
}
